.navbar {
  background-color: #00d1b2!important;
}

.navbar-item {
  color: #fff!important;
  font-weight: bold;
}

.navbar-item:focus, .navbar-item:focus-within, .navbar-item:hover, .navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: rgba(7, 7, 7, .1)!important;
}